ul,
li {
	list-style-type: none;
}

.icon__social-media {
	left: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 3%;
}

.icon__social-media li {
	margin-right: 15px;
}

.icon__social-media .io-icon {
	font-size: 2.5em;
	color: rgb(95, 95, 95);
}

.icon__social-media .io-icon:hover {
	color: rgb(169, 169, 169);
}

@media screen and (min-width: 1024px) {
	.icon__social-media .io-icon {
		font-size: 1.75em;
	}
}
